<div class="navbar-fixed">
{{#md-navbar name='Github Browser' class='deep-purple'}}
 <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'orgs' tagName='li'}}
    {{link-to 'Favorite Orgs' 'orgs'}}
  {{/link-to}}
{{/md-navbar}}
</div>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}