<div class="row">
	<div class="col s12">
		<h2 class='orgs-name'>
			Organizations
		</h2>
	</div>
</div>

<div class="row">
	{{#each content as |org|}}
	<div class="col l4 m6 s12">
		{{#link-to 'org' org.id class='purple-text'}}
		{{#md-card title=org.name
			image=org.avatar_url
			class="full-width-card"
		    titleClass="orange-text"}}

		    {{#md-card-content}}
		        {{org.description}}
		    {{/md-card-content}}

		    {{#md-card-action}}
		    	<a href={{org.html_url}} class='btn btn-flat deep-purple white-text' target='_blank'>Go to Github</a>

		    	{{#md-badge class="deep-orange white-text right"}}
			    	<i class="material-icons white-text">code</i>
			    	{{org.public_repos}}
		    	{{/md-badge}}
		    	
		    {{/md-card-action}}

		{{/md-card}}
		{{/link-to}}
	</div>
	{{/each}}
</div>
